body {
  font-size: 15px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: antiquewhite;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(10, 9, 9);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
  color: #f1f1f1;
}

.button {
  background-color: #1c3e1d;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 5px;
  color: azure;
  border: 1px solid rgb(75, 255, 87);
  border-radius: 10px;
}
.pic img{
  width: 100%;
  height: 600px; 
}
.intro{
  position: absolute;
  left: 100px;
  top: 200px;
  color: aliceblue;
  width: 186px;
}
.btn{
  background-color: aquamarine;
  padding: 5px;
  border: 2px solid whitesmoke;
  border-radius: 5px;
}
.btn2{
  background-color: rgb(27, 238, 72);
  padding: 5px;
  border: 2px solid whitesmoke;
  border-radius: 5px;
}
.about{
  margin: auto;
    padding-top: 116px;
    padding-right: 71px;
    padding-bottom: 330px;
    background-color: antiquewhite;
}
#details{
  width: 50%;
    text-align: center;
    float: left;
    padding-top: 88px;
}
#details1{
  width: 50%;
  text-align: center;
  float: right;
}
.service{
  margin: auto;
  background-color: antiquewhite;
}
#services{
  width: 100%;
  text-align: center;

}

.flex-container {
  display: flex;
  
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 12px;
}
.service {
  padding-top: 19px;
  padding-bottom: 100px;
}
.w3-container{
  text-align: center;
}